/* "Universal" selector - every text element (h1, h2, p) will changed its font to Tenor Sans. */
* {
    font-family: 'Tenor Sans';
    box-sizing: border-box;
}

/* box-sizing avoids the dimensional issues that exist in the former box model.
In this box model, the height and width of the box will remain fixed.
The border thickness and padding would remain entirely inside of the box.*/

body {
    background-color: white;
    padding: 50px;
}

h1, h2 {
    text-transform: uppercase;
}

/* "#" selector refers to the element, that needs to be styled uniquely. Refers to HTML element with "id" attribute. However here I will use the "class" attribute.  */
.position {
    color: white;
}

@media (max-width: 768px) {
    .position {
        color: black;
    }
}

/* "Type" selector */
h1 {
    font-size: 58px;
    color: white;
    letter-spacing: 10px;
    line-height: 2;
    text-align: center;
    /* "text-align" property specifies the horizontal alignment of text in an element. Available values are: left (default), center, right, justify. */
}

h2 {
    font-size: 16px;
    color: #715e49;
}

p {
    font-size: 14px;
    text-align: justify;
}

.container {
    background-color: #f9fbf9;
    /* CV's are mostly A4 size - width x height = 210 x 297 mm */
    width: 210mm;
    /* "border" can be used to show where exactly is the container */
    /* Bootstrap containers have 15px padding (left and right) by default. I don't want them. */
    padding-left: 0px;
    padding-right: 0px;
}

.name-position {
    display: flex;
    /* "display" defines a flex container (inline or block depending on the value). */
    flex-direction: column;
    /* "flex-direction" establishes the main-axis along which the children-elements will be displayed. Available values: row (default), row-reverse, column, column-reverse. */
    align-items: center;
    padding: 50px;
}

.name-position, .section-3 {
    background-color: #dbcbba;
}

/* "section" value of attribute for columns. Bootstrap columns have 15 px left and right padding set by default. They must be removed to preserve the CV template. */
.section-1, .section-2, .section-3, .section-4 {
    padding-left: 0;
    padding-right: 0;
}

/* Bootstrap rows don't have negative 15px paddings, so they occupy the entire width of container. Because the default 15px padding of container was set to 0px (left and right), now margins of the rows must be set to 0px */
.no-gutter-1, .no-gutter-2 {
    margin-left: 0;
    margin-right: 0;
}

.about, .portfolio, .contact, .h2-experience, .work, .social-media, .footer-text {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.about {
    padding-top: 50px;
}

/* "Attribute" selector allows to target each image or hyperlinks individually. Thanks to this there is no need to create attribute like "class" or "id" within an <img> tag. But for this img I decided to use the "class" attribute. */
.portrait {
    /* The upper left and right corners of the image must be rounded */
    border-radius: 50% 50% 0 0;
    width: 100%;
}

.experience {
    position: relative;
    padding-top: 25px;
}

.img-cam {
    position: absolute;
    margin: auto;
    width: 440px;
    opacity: 7%;
}

.experience, .work, .social-media {
    display: flex;
    align-items: flex-start;
}

.experience, .social-media {
    flex-direction: column;

}

.work {
    flex-direction: row;
}

.work p {
    line-height: 5px;
}

.B {
    padding-left: 30px;
}

.twitter, .behance {
    padding-left: 20px;
}

.img-sm {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.section-3, .section-4, .realization {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
}

.social-media, .section-4 {
    flex-direction: row;
}

.sm {
    padding-right: 20px;
    line-height: 5px;
}

.section-4 {
    flex-wrap: wrap;
    padding: 20px;
    align-content: center;
}

.realization {
    width: 120px;
    height: 120px;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 5px;
}

.vl {
    border-right: 1px solid #715e49;
}

.hr {
    border-top: 1px solid #715e49;
}

@media (max-width: 768px){
    .vl, .hr {
        border: none;
    }
}

.footer-text {
    background-color: rgba(103, 86, 74, 0.3);
    border-top: 3px solid white;
    padding-top: 20px;
    text-align: justify;
    font-size: 8px;
}